
body {
  background: url('images/background_img.png');
  background-repeat: no-repeat;
  font-family: gill-sans;
}

#title-subheading {
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 5px;
}

.form-parent {
  padding: 20px;
}

.form-child {
  width: 50%;
  float: left;
  margin-top: 90px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#profile {
  border-radius: 50%;

}

#results {
  margin-top: 375px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* padding:20px; */
}


#sent-plot {
  margin-top: 50px;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {background: #ffcccb}
tr:nth-child(odd) {background: #CCC}
tr:nth-child(even) {background: #FFF}

table {
  margin-left:auto;
  margin-right:auto;
}

th, td {
  padding: 10px;
}

.religion-parent {
  padding: 20px;
}

.religion-child {
  width: 50%;
  float: left;
}

#religion-table{
  margin-top: 150px;
  margin-left: 50px;
}

#percent {
  text-align: center;
  padding: 30px;
  font-size: 40px;
  font-weight:bold;
}

.twitter-child {
  text-align: center;
  margin: 5px;
}
