<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/search_style.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                Governors On Corona
                <span style="color: #EA4335; ">
            </h1>

            <br><br>

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Enter State or Name of Governor">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        <h1>{{output_message}}</h1>
        {% if data %}
          <!--  <p> <h1>{{output_message}}</h1> </p>
            <br>
            <p> <h2>First Twitter Mention of the Virus: <h2>
            <h2> {{data[0]}} <h2> </p>
            <br>
            <p> <h2>Percentage of direct mentions of the disease: <h2>
            <h2> {{data[1]}}%<h2> </p> -->

            {% for d in data %}
                <br>
                <p><h3>{{d[0]}}{{d[1]}}</h3></p>
            {% endfor %}
        {% endif %}
        </form>

        <img src="../static/images/{{state}}_sent_plot.png" alt="Comment Sentiment Plot"/>

    </body>
</html>
