<html>

<head>
  <!-- <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/search_style.css">
  <link rel="stylesheet" href="/static/main.css"> -->
  <link rel="stylesheet" href="/static/main2.css">
  <script type="text/javascript" href="/static/javascript.js"></script>
  <title>COVID-19 Politicians</title>
  <link rel="icon" href="/static/images/title_icon.png" type="image/title_icon.png">
</head>

<body>
  <!-- <div id="header"> -->
  <div class="header1">

    <div class="topcorner">
      <p style="color:white">Project Name: {{ name }}</p>
      <p style="color:white">Student Name: ({{ netid }})</p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="header">
      <form class="form-parent form-inline global-search">
        <div>
          <h1 class="title">
            Governors on Corona
          </h1>
          <h2 id='title-subheading'> Discover how your governor responded to the 2020 COVID-19 Pandemic. </h2>
        </div>

        <div class="wrap">
          <div class="searching">
            <input id="input" type="text" name="search" class="form-control" placeholder="Enter State or Name of Governor">
            <button onclick="show()" type="submit" class="btn btn-info" id="inputbutton"> Go!
              <i class="fa fa-search"></i>
            </button>

          </div>

        </div>

      </form>
    </div>

  </div>

  <br>
  <br>


  <div>
    <form class="form-inline global-search">
      {% if state != "no match" %}
      <div id="results">
        <img id="profile" class="center" src="../static/profile_images/{{state}}_profile.png" alt="Governor's Profile Picture">
      </div>
      {% else %} {% endif %}
      {% if output_message|length != 0 %}
      <h1 id="pro">{{output_message}}</h1>
      {% else %} {% endif %}
    </form>
  </div>


  {% if timeline_data|length != 0 %}

  <br> {% if output_message|length != 0 %}
  <hr> {% else %} {% endif %}

  <h2 class="twitter" style="text-align:center; font-style:italic; margin-bottom:10px;">Fast Facts</h2>
  <p class="head center sentiment1" style="text-align:center">Some statistic's about {{handle}}'s Twitter usage and COVID-19.</p>


  <br>

  <div>
    <div id=twitter-mentions>
      <div class="twitter-stat boxx" style="width: 40%; height: 10%; display: block; margin: auto; background-color:#BDC9B8;">
        <h4>Percentage of Tweets with Direct Mentions: {{timeline_data[1]}}%</h4>
      </div>
      <br>
      <div class="twitter-child1 boxx" style="width: 50%; display: block; margin: auto; background-color:  #BDC9B8;">
        <h4>First Mention of COVID-19 on Twitter:</h4>
        <p>
          <blockquote class="twitter-tweet" id="first">
            <p lang="en" dir="ltr">
              <a href="{{timeline_data[0]['link']}}"></a>No tweet found for this event
          </blockquote>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
      </div>

      <br>

      <div class="twitter-child2 boxx" style="width: 50%; display: block; margin: auto; background-color:#BDC9B8;">
        <h4>First Social Distancing Mention:</h4>
        <blockquote class="twitter-tweet" id="second">
          <p lang="en" dir="ltr">
            <a href="{{timeline_data[2]['link']}}"></a>No tweet found for this event
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    </div>
  </div>

  <br>

  <hr>

  <h3 class="head center sentiment" style="text-align:center; font-style:italic;">{{state}}'s Reaction to COVID-19</h3>
  <p class="head center sentiment1" style="text-align:center">This section includes major events in the COVID-19 crisis, when {{state}} enacted them, and an example tweet from {{handle}} about the event.</p>

  <br>

  <table style="width:80%">
    <colgroup>
      <col class="e">
      <col class="d">
      <col>
    </colgroup>
    <tr>
      <th>Event</th>
      <th>Actual Date of Event</th>
      <th>Earliest Tweet about Event</th>
    </tr>
    <tr>
      <td>Declares State of Emergency</td>
      <td>{{static_data[0][1]}}</td>
      <td>
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            <a href="{{timeline_data[4]['link']}}"></a>No tweet found for this event
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </td>
    </tr>
    <tr>
      <td>Shelter in Place</td>
      <td>{{static_data[3][1]}}</td>
      <td>
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            <a href="{{timeline_data[5]['link']}}"></a>No tweet found for this event
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </td>
    </tr>
    <tr>
      <td>Closed K-12 Schools</td>
      <td>{{static_data[1][1]}}</td>
      <td>
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            <a href="{{timeline_data[6]['link']}}"></a>No tweet found for this event
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </td>
    </tr>
    <tr>
      <td>Closed Visiting Nursing Homes</td>
      <td>{{static_data[2][1]}}</td>
      <td>
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            <a href="{{timeline_data[7]['link']}}"></a>No tweet found for this event
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </td>
    </tr>
    <tr>
      <td>Closed All Non-Essential Businesses</td>
      <td>{{static_data[4][1]}}</td>
      <td>
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            <a href="{{timeline_data[8]['link']}}"></a>No tweet found for this event
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </td>
    </tr>
  </table>
  {% else %} {% endif %}

  <br>
  <hr>
  <!-- <h2 class="center" style="text-align:center">Twitter Statistics:</h2>
  <div>
    <div id=twitter-mentions>
      <div class="twitter-child" style="float:left; width:32.5%">
        <h4>Percentage of Tweets with Direct Mentions:</h4>
        <p id="percent">{{timeline_data[1]}}</p>
      </div>

      <div class="twitter-child" style="float:left; width:32.5%">
        <h4>First Mention of COVID-19 on Twitter:</h4>
        <p>{{timeline_data[0][0]}}</p>
        <p>{{timeline_data[0][1]}}</p>
      </div>

      <div class="twitter-child" style="float:left; width:32.5%">
        <h4>Social Distancing Mentions:</h4>
        <p>{{timeline_data[2][0]}}</p>
        <p>{{timeline_data[2][1]}}</p>
      </div>

    </div>
  </div> -->

  <h3 class="head center sentiment" style="text-align:center; font-style:italic;">The Average Sentiment in {{handle}} Twitter Comments</h3>
  <p class="head center sentiment1" style="text-align:center">This graph demonstrates how {{state}}'s constituents felt towards their governor during the 2020 COVID-19 Pandemic.</p>

  {% if exception==False %}
  <img id="sent-plot" class="center" src="../static/images/{{state}}_sent_plot1.png" alt="Comment Sentiment Plot" /> {% else %}   <p class="head center sentiment1" style="text-align:center; margin-left:50px;margin-right:50px;background-color:#BDC9B8;padding:10px;font-style:italic;">{{handle}} does not have enough popular comments for a sentiment plot.</p>
 {% endif %}

  <br> {% if religion_data|length != 0 %}
  <hr>


  <h2 class="center sentiment" style="text-align:center;font-style:italic;">{{governor}}'s Meaning Making</h2>
  <p class="head center sentiment1" style="text-align:center">This section analyzes how religion factored in to {{handle}}'s language and reactions during COVID-19</p>
  <div class="religion-parent">
    <img class="religion-child" class="center" src="../static/images/{{state}}_religion_plot.png" alt="Religion Plot" />
    <table class="religion-child" id="religion-table" style="width:20%">
      <tr>
        <th>Religion</th>
        <th>Number of Mentions</th>
      </tr>
      <tr>
        <td>Christian</td>
        <td>{{religion_data[0][1]}}</td>
      </tr>
      <tr>
        <td>Jewish</td>
        <td>{{religion_data[1][1]}}</td>
      </tr>
      <tr>
        <td>Muslim</td>
        <td>{{religion_data[2][1]}}</td>
      </tr>
      <tr>
        <td>Neutral</td>
        <td>{{religion_data[3][1]}}</td>
      </tr>
    </table>

  </div>
  {% else %} {% endif %}
</body>

</html>
