<html>

<head>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/search_style.css">
  <link rel="stylesheet" href="/static/main.css">
  <script type="text/javascript" href="/static/javascript.js"></script>
</head>

<body>
  <!-- <div id="header"> -->
  <div class="topcorner">
    <p style="color:white">Project Name: {{ name }}</p>
    <p style="color:white">Student Name: ({{ netid }})</p>
  </div>

  <div id="header">
    <form class="form-parent form-inline global-search">
      <div class="form-child">
        <h1 style="font-size: 50px; font-family:Futura; color: red">
          Governors on Corona
          <span style="color: #EA4335; ">
        </h1>
        <h2 id='title-subheading' style="font-size: 15px;"> Discover how your governor responded to the 2020 COVID-19 Pandemic. </h2>
      </div>

      <br>
      <br>

      <div class="form-child">
        <div class="form-group">
          <input id="input" type="text" name="search" class="form-control" placeholder="Enter State or Name of Governor">
        </div>
        <button onclick="show()" type="submit" class="btn btn-info"> Go! </button>
      </div>

    </form>
  </div>


  <form class="form-inline global-search">
    <div id="results">

      <img id="profile" class="center" src="../static/profile_images/{{state}}_profile.png" alt="Governor's Profile Picture">

    </div>

    <h1>{{output_message}}</h1>
    <!-- </div> -->

    {% if data %}
    <!--  <p> <h1>{{output_message}}</h1> </p>
                      <br>
                      <p> <h2>First Twitter Mention of the Virus: <h2>
                      <h2> {{data[0]}} <h2> </p>
                      <br>
                      <p> <h2>Percentage of direct mentions of the disease: <h2>
                      <h2> {{data[1]}}%<h2> </p> -->

    {% for d in data %}
    <br>
    <p>
      <h3>{{d[0]}}{{d[1]}}</h3>
    </p>
    {% endfor %} {% endif %}
  </form>

  {% if timeline_data|length != 0 %}
  <table style="width:60%">
    <tr>
      <th>US Data</th>
      <th>Governor Data</th>
      <th>Tweet</th>
    </tr>
    <tr>
      <td>First Mention</td>
      <td>{{timeline_data[0][0]}}</td>
      <td>{{timeline_data[0][1]}}</td>
    </tr>
    <tr>
      <td>Recognition of Problem</td>
      <td>Governor Stat</td>
      <td></td>
    </tr>
    <tr>
      <td>Social Distancing Mention</td>
      <td>Governor Stat</td>
      <td></td>
    </tr>
    <tr>
      <td>Lockdown Mention</td>
      <td>Governor Stat</td>
      <td></td>
    </tr>
    <tr>
      <td>Easing of Lockdown Mention</td>
      <td>Governor Stat</td>
      <td></td>
    </tr>
  </table>
  {% else %} {% endif %}


  <!-- <div id="results">
            <h1>{{output_message}}</h1>
            {% if data %} -->
  <!--  <p> <h1>{{output_message}}</h1> </p>
                <br>
                <p> <h2>First Twitter Mention of the Virus: <h2>
                <h2> {{data[0]}} <h2> </p>
                <br>
                <p> <h2>Percentage of direct mentions of the disease: <h2>
                <h2> {{data[1]}}%<h2> </p> -->

  <!-- {% for d in data %}
                    <br>
                    <p><h3>{{d[0]}}{{d[1]}}</h3></p>
                {% endfor %}
            {% endif %}
            </form> -->

  <img id="sent-plot" class="center" src="../static/images/{{state}}_sent_plot1.png" alt="Comment Sentiment Plot" />

  <img id="sent-plot" class="center" src="../static/images/{{state}}_religion_plot.png" alt="Comment Sentiment Plot" />
</body>

</html>
